<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}

<section class="character-form">

  <form action="/character-results" method="GET">
      <fieldset>
          <legend>Please enter a character number:</legend>

          <p>
              <label>
                  Please enter a number: <br>
                  <input type="number" name="character-id" min="0">
              </label>
          </p>

          <p>
              <input type="submit" value="Use the Force...">
          </p>

      </fieldset>
  </form>
</section>

{% endblock content %}
